<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Product Preview Card</title>
</head>

<body>
    <!-- CARD -->
    <div class="card">
        <!-- LH SECTION -->
        <div class="image"><img src="../images/image-product-desktop.jpg" alt="image of perfume bottle" />
        </div>
        <!-- RH SECTION -->
        <div class="info">
            <!-- first div - headers -->
            <div class="headers">
                <h1>Perfume</h1>
                <p class="p-title">Gabrielle <br> Essence Eau <br> De Parfum</p>
            </div>
            <!-- paragraph -->
            <div class="p-info">
                <p>A floral, solar and voluptuous <br> interpretation composed by <br> Olivier Polge, Perfumer-Creator
                    <br> for the
                    House of CHANEL.
                </p>
            </div>
            <!-- Price -->
            <div class="price">
                <div class="prices">
                    <h1 class="o-price">$149.99</h1>
                    <h2 class="disc-price">$169.99</h2>
                </div>
            </div>
            <!-- Add to cart button -->
            <button class="cart">Add to Cart</button>
        </div>
    </div>
</body>

</html>